/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper,html,body{
height:100%;
width:100%;
}
.wrapper{
background:url('images/background-website1.jpg');
box-shadow:95px 235px 171px black;
}
.header{
height:85px;
width:100%;
background:url('images/index.jpeg') no-repeat;
background-size:254px;
background-color:white;
}
.content{

width:500px;
height:500px;
margin:0 auto;
}
.inputbox{
width:350px;
height:50px;
display:inline-block;
box-shadow:1px 1px 1px black;
}
.button{
width:80px;
height:30px;
}
#form{
width:400px;
margin:0 auto;
padding:35px;
margin-top:150px;
box-shadow:2px 1px 100px black;
border-radius:5px;
}
h1{
size:10px;
color: 	#303030;
text-align:center;
width:100%;
position:relative;
top:35px;
left:-40px;
text-shadow:2px 2px grey;
}
.footer{
text-align:center;
width:100%;
position:relative;
bottom:0px;
background:transparent;
color:grey;
}
